
<div class="banner img-fluid">
    <img src="https://danielladraper.com/images/headers/DDHomeOct2017Desktop.jpg" style="width: 100%" height="300" />
    <h2>RENT A DRESS,<br />OWN T<span>H</span>E PARTY</h2>
    <div class="img-overlay">
     <a href="#" class=""><%= link_to('BROWSE DRESSES', items_path, :class => "btn btn-md btn-success", :style=>'color:#FFFFFF') %></a>

   </div>
</div>
