/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */

 @import "bootstrap";


@import "bootstrap";
@import 'font-awesome.css';


@import "home.scss";
// @import "design-block/froala_blocks.scss";
@import 'jquery.ui.all';
//
// .form-filters {
//   display: inline;
// }
//
// .filters {
//   margin-left: .5em;
//   margin-right: .5em;
// }



// .card-button {
//   display: inline-block;
//   margin-bottom: .5em;
//   color: white;
// }


html {
  height: 100%;
  box-sizing: border-box;
}

body{
	// font-family: 'Open Sans', sans-serif;
  // font-size: 14px;
  // line-height: 1.5;
  // color: #24292e;
  // background-color: #fff;
  margin: 0;
  padding-bottom: 10rem;
  min-height: 100%;
  position: relative;
    #wrapper{
      padding-bottom: 300px;
    }
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.form-style select {
  color: grey;

}

.form-style sort {
  color: grey;
}

.back-button {
  background-color: #C0C0C0;

}
.button-white {
  background-color: white;
}
.sort_link {
  padding-left: .5em;
}

.sort {
  margin-left: 9em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.fa-heart {
  color: red;
}
.input {
  display: inline-block;
  float: right;
  text-align: right;
  padding-left: 4em;
}
.profile-heading {
  border-bottom: 1px solid #E9E9E9;
  font-family: 'Roboto', sans-serif;
}
#hyperlink {
  color: teal;
}

.item-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 3em;
}
.item-details {
  line-height: 3em;
}
#strikethrough {
text-decoration: line-through;
display: inline;
font-size: inherit;
}
#grey-out {
  color: grey;

}

.greeting {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;

}

.card-img-top{
  // width:100%;
  height:auto;
  height: 300px;
}


.navbar {
  z-index:99999999999 !important;
  color: grey;

  border-bottom: 1px solid #E9E9E9; /* This is the line replacing the hr*/

}
.navbar a:hover {
    background:rgba(0,0,0,0);
    text-decoration: none;
    color: grey;
}

.banner img {
   width:100%;
   height:700px;
   position: relative;
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
   color: white;
   text-align: center;
   font-family: 'Cinzel';
   font-size: 4em;
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;

}
.text-colour {
  color: white;
}

.btn-success {
  background-color: #7A6969;
  border: white 2px;
  font-family: 'Open Sans', sans-serif;
  width: 15%;
  height: 7%;
  opacity: 0.7;

}
.btn-success:hover {
  background-color: teal;
}
span{
  border-bottom:.1em solid #FFF;
}

.logo {
  color: #c5c9c6;
  font-size: 1.3em;
  padding-left: .5em;
  padding-top: .6em;
  font-family: 'Nunito';
}

.img-circle {
    border-radius: 50%;
}
.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

ul {
  padding-left: 0px;
  list-style: none;
}

.logo {
	width: 50px;
}

.user-profile,  .user-profile:hover, .user-profile:active{
	background-color: transparent;
	border:0;
	color: #fff;
}

.warning {
	  margin-left: 30%;
      color: #FF0000;
      font-size: larger;
}
.success {
	  margin-left: 37%;
      color: #008000;
      font-size: x-large;
}
.mt-4 {
	margin-left: 22%;
}
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #FFB300;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}



// footer
